{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1>Edit task</h1>
        {% if errorMessage %}
            <div class="alert alert-danger" role="alert">{{ errorMessage }}</div>
        {% endif %}

        {% if successMessage %}
            <div class="alert alert-success" role="alert">{{ successMessage }}</div>
        {% endif %}

        <form action="/task/save/{{ task.id }}" method="post">
            {% include 'task/form.html.twig' %}
        </form>
    </div>
{% endblock %}